<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Comment section</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> 
        <div class="post_comments"></div>
        <form method="post" enctype="multipart/form-data" action='{% url "post_comments" %}'>
        {% csrf_token %}
        <input  type="hidden" id='add_comment_post_id' name="post_id">
        <div class="mb-3">
          <input class='form-control' placeholder='Comment Something!' type="text" name="comment" id="comment">
        </div>
        <div class="mb-3">

          <input class='form-control' type="file" name="image" id="image" accept="image/*" >
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger p-2 bg-success">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>

