{% extends 'social_app/base.html' %} {% load static %} {% block content %}   
<main>
    <div class="main-wrapper">
        <div class="profile-banner-large bg-img" data-bg="{% static 'social_app/images/coustom/photo1.jpg' %}">
        </div>
        <div class="profile-menu-area bg-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3">
                        <div class="profile-picture-box">
                            <figure class="profile-picture">
                                <a href="profile.html">
                                    <img class="img-fluid" style="height:270px; width:270px; object-fit: cover;" src="{% if profile.image %}{{profile.image.url}}{% endif %}" alt="profile picture">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 offset-lg-1">
                        <div class="profile-menu-wrapper">
                            <div class="main-menu-inner header-top-navigation">
                                <nav>
                                    <ul class="main-menu">
                                        <li class="active"><a href="#">timeline</a></li>
                                        <li><a href="about.html">about</a></li>
                                        <li><a href="photos.html">photos</a></li>
                                        <li><a href="{% url 'friends' %}">friends</a></li>
                                        <li><a href="about.html">more</a></li>
                                        <!-- <li class="d-inline-block d-md-none"><a href="profile.html">edit profile</a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-md-block">
                        <div class="profile-edit-panel">
                            <button class="edit-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Update Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
      {% include 'social_app/profile_asides.html' %}
        
    </div>
</main>
  <!-- Modal -->
  {% include 'social_app/edit_profile_modal.html' %}
{% endblock content %}